* {
  box-sizing: border-box;
}

div > h1 {
  color: rgb(28, 241, 82);
}

form + h1 {
  color: rgb(243, 66, 60);
}

label {
  margin-left: 20px;
  color: white;
}

select {
  margin-left: 20px;
}

.MuiButtonBase-root {
  margin-top: 20px;
}

.MuiCircularProgress-root	{
  position: relative;
  top: 22px;
  left: 20px;
}

.btn:active {
  transform: translateY(2px);
  box-shadow: 0px 4px darkblue;
}

.resultWrapper {
  position: relative;
  top: 60px;
  left: 105%;
}

.result {
  padding-left: 10px;
  position: absolute;
  right: 132px;
  bottom: 120px;
  left: 0px;
  background-color: lightblue;
  font-size: 1rem;
}

