* {
  box-sizing: border-box;
}

div > h1 {
  color: rgb(28, 241, 82);
}

form + h1 {
  color: rgb(243, 66, 60);
}

label {
  margin-left: 20px;
  color: white;
}

select {
  margin-left: 20px;
}

button {
  margin: 50px 0px 0px 170px;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  padding: 0.5rem 2.5rem;
  background-color: rgb(20, 122, 240);
  font-size: 1rem;
  color: white;
  border: none;
}

button:active {
  transform: translateY(2px);
  box-shadow: 0px 4px darkblue;
}

.resultWrapper {
  position: relative;
  top: 13px;
  left: 105%;
}

.result {
  padding-left: 10px;
  position: absolute;
  right: 132px;
  bottom: 100px;
  left: 0px;
  background-color: lightblue;
  font-size: 1rem;
}

