body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

div > h1 {
  font-size: 35px;
  color: rgb(28, 241, 82);
}

form + h1 {
  color: rgb(243, 66, 60);
}

label {
  margin-left: 20px;
  margin-right: 15px;
  color: white;
}

.top-header {
  display: flex;
  justify-content: space-between;
}

.logo-descrip {
  display: flex;
}

.logo-descrip > span {
  padding-top: 29px;
  padding-right: 10px;
  color: wheat;
}

.MuiSvgIcon-root {
  margin-top: 30px;
  color: rgb(202, 243, 107);
  cursor: pointer;
}

select {
  margin-left: 20px;
}

.MuiButtonBase-root {
  margin-top: 20px;
}

.MuiCircularProgress-root	{
  position: relative;
  top: 22px;
  left: 20px;
}

.btn:active {
  transform: translateY(2px);
  box-shadow: 0px 4px darkblue;
}

.resultWrapper {
  position: relative;
  top: 58px;
  left: 100%;
}

.result {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  right: 132px;
  bottom: 120px;
  left: 0px;
  background-color: lightblue;
  font-size: 1rem;
}

.log-wrapper {
  position: relative;
  top: 40px;
  left: 110px;
}

.log-wrapper > span {
  margin-left: 40%;
  color: white;
  padding-bottom: 10px;
}

