.container {
  margin-right: 200px;
}

.sampleBoxHeader {
  margin-top: 50px;
  margin-left: 32%;
  margin-bottom: 30px;
  color: rgb(189, 130, 130);
}

.table {
  width: 80%;
  margin-left: 250px;
}

h5 {
  margin-left: 43%;
  margin-bottom: 40px;
}

.thStyle {
  color: white;
  border: 1px solid slateblue;
  background-color: darkgreen;
  cursor: pointer;
}

.thStyle:focus {
  background-color: darkorange;
}

.tr:nth-child(even) {
  background-color: rgb(58, 5, 102);
}

.tdStyle {
  color: white;
  font-size: 14px;
  border: 1px solid yellow;
  text-align: center;
}

.sortDir {
  color: white;
}
