.container {
  margin-right: 200px;
}

.thStyle {
  color: white;
  border: 1px solid slateblue;
  background-color: darkgreen;
  cursor: pointer;
}

.thStyle:focus {
  background-color: darkorange;
}

.tr:nth-child(even) {
  background-color: darkgoldenrod;
}

.tdStyle {
  color: white;
  font-size: 14px;
  border: 1px solid yellow;
}

.sortDir {
  color: white;
}