* {
  box-sizing: border-box;
}

.text-wrapper {
  background-color: white;
  padding: 20px;
  display: inline-block;
}

.btn {
  display: block;
}

.rating {
  margin-top: 120px;
}

.pa {
  position: relative;
  bottom: 15px;
}

.increDiv {
  display: flex;
  justify-content: start;
}

.increbtn {
  position: relative;
  left: 30px;
}

.decrbtn {
  position: relative;
  left: 50px;
}

.text {
  color: white;
}

.ratingHeader {
  margin-top: 10px;
  font-size: 11px;
}

