
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background-color: #142253;
}

ul {
  display: flex;
  list-style-type: none;
}

li {
  color: white;
  margin-left: 30px;
  cursor: pointer;
}